@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap';
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.hero {
  background: url(../img/big-leaf.png) right bottom 50% no-repeat;
  position: relative;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 74%;
  }
}
.hero::before {
  content: url("../img/corner-leaf.png");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero::after {
  content: url("../img/berries.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1.3333333333rem 0 2.5rem;
  background: url(../img/chocolates.png) right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../img/hero-bars.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 0.8333333333rem;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.9444444444rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 27%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0px 15%;
  }
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .phone.header__phone {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5555555556rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone {
  display: flex;
  align-items: center;
  font-size: 1.2222222222rem;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .phone {
    justify-content: center;
  }
}

.phone__icon {
  flex-shrink: 0;
}

.phone__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.footer__phone-text {
  white-space: nowrap;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.1666666667rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  padding: 1.2777777778rem 2.3888888889rem;
  border-radius: 5.5555555556rem;
  font-size: 0.8888888889rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border: none;
}
.btn--theme--white {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
  font-weight: 400;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}

.section__title {
  color: inherit;
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 1.611111rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.6666666667rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0px 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url(../img/separator.png);
  position: absolute;
  top: 1.6666666667rem;
  right: 0rem;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    content: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.1111111111rem;
  }
}

.benefit__icon {
  position: absolute;
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #000;
  font-weight: 700;
  margin-bottom: 1rem;
}

.benefit__text {
  font-size: 1rem;
}

.benefits-section {
  position: relative;
  background: url(../img/side-leaf.png) left top 57% no-repeat;
  margin-bottom: 3.3333333333rem;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url(../img/bars-and-beries.png);
  position: absolute;
  bottom: -8.3333333333rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    content: none;
  }
}

@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 10%;
  }
}

.reviews {
  position: relative;
  overflow: hidden;
}
.reviews::before {
  content: url(../img/raspberry.png);
  position: absolute;
  width: 7.0555555556rem;
  height: 9.2777777778rem;
  right: 0;
  top: 1.3888888889rem;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -3.6111111111rem;
  left: 50%;
  transform: translate(-50%);
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-right: 0;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.6666666667rem;
}

.reviews__text {
  margin-bottom: 1.4444444444rem;
  padding: 0 6.7777777778rem 0 0;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding: 0;
    text-align: center;
  }
}

.reviews__author {
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.interactive-avatar--active {
  border: 0.3333333333rem solid #0b4d3c;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.reviews-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  margin-bottom: 3.3333333333rem;
}
.reviews-section::before {
  content: url(../img/strawberry.png);
  position: absolute;
  top: 0;
  right: 0;
  width: 7.5555555556rem;
  height: 4.3333333333rem;
}
.reviews-section::after {
  content: url(../img/leaf-and-berries.png);
  position: absolute;
  width: 7.5rem;
  height: 10.7222222222rem;
  bottom: -1.1111111111rem;
  left: 0;
}

.order-section {
  background: url(../img/pattern.png) center/cover no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 13% 0;
}
@media screen and (max-width: 768px) {
  .order-section {
    padding: 20% 0 15%;
  }
}

.form {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 5%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 12px;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3888888889rem 0;
  }
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 0.8333333333rem;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
    margin-top: 1.3888888889rem;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.2777777778rem;
}
.radio:nth-child(2) {
  margin-right: 0;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  content: "";
  position: absolute;
  background: url(../img/tick.png) 35% 55% no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  content: "";
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active {
  border: 0.0555555556rem solid #fff;
  border-radius: 50%;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  background: url("../img/map.png") center center/cover no-repeat;
}

.footer {
  display: flex;
  padding: 0.9444444444rem 0;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 0.9444444444rem 0 2.3333333333rem;
  }
}

.footer-container {
  display: inline-flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer-container {
    width: 80%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .footer-container {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__address {
    margin-bottom: 0.7222222222rem;
  }
}

.footer__street {
  color: #292929;
  font-style: normal;
  font-size: 21px;
}
@media screen and (max-width: 480px) {
  .footer__street {
    margin-bottom: 0.5555555556rem;
  }
}

.footer__phone-text {
  color: #497870;
}

.social {
  display: flex;
  width: 125px;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social__link {
  display: block;
  width: 21px;
  height: 20px;
}

.social__vk {
  background: url("../img/vk.png") center center no-repeat;
}

.social__fb {
  background: url("../img/fb.png") center center no-repeat;
}

.social__inst {
  background: url("../img/inst.png") center center no-repeat;
}

.social__tw {
  background: url("../img/tw.png") center center no-repeat;
}