.btn {
  padding: rem(23px) rem(43px);
  // border-radius задать больше чем 50% от высоты
  border-radius: rem(100px);
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border: none;

  &--theme--white {
    color: $darkGreen;
    background: #fff;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #fff;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $darkGreen;
    }
  }
}

