.hero {
  background: url(../img/big-leaf.png) right bottom 50% no-repeat;
  position: relative;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #fff;

  &::before {
    content: url('../img/corner-leaf.png');
    position: absolute;
    bottom: -40px;
    // В зависимости от ширины окна
    left: 2%;
  }

  &::after {
    content: url('../img/berries.png');
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // !
  height: 100vh;
  // ! отступы от краев сайта
  padding: 24px 0 45px;
  background:url(../img/chocolates.png)right center / 50% auto no-repeat;
}

.hero__title-section {
  width: 45%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 53px;
  padding-right: 15%;
}
