.order-section {
  background: url(../img/pattern.png) center / cover no-repeat;
  //Ключевые стили засчет чего заголовок входит в рамку
  display: flex;
  justify-content: space-between;
  padding: 13% 0;

  @include tablets {
    padding: 20% 0 15%;
  }
}
