.order-section {
  background: url(../../img/pattern.png) center / cover no-repeat;
  //Ключевые стили засчет чего заголовок входит в рамку
  display: flex;
  justify-content: space-between;
  padding: 65px 0 0px;
}
