.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(23px);

  &:nth-child(2) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        content: "";
        position: absolute;
        background: url(../img/tick.png) 35% 55% no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;
  // Если элемент радио будет в состоянии checked, то ниже элемент получит
  // display: block;
  &:checked ~ .radio__visible {
    &::before {
      content: "";
      display: block;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(10px);

  &::before {
    content: "";
    display: none;
    width: rem(14px);
    height: rem(14px);
    background: #365A49;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

