.reviews {
  position: relative;
  overflow: hidden;

  &::before {
    content: url(../img/raspberry.png);
    position: absolute;
    width: rem(127px);
    height: rem(167px);
    right: 0;
    top: rem(25px);
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: rem(50px) rem(45px) rem(34px);
  margin-bottom: rem(20px);
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position:absolute;
    top: rem(-65px);
    left: 50%;
    // обязательный пункт
    transform: translate(-50%);
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(264px);
  margin-right: rem(20px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-right: 0;
  }
}

//Позволяет картинке растянуться по всей ширине
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// Позволяет картинке занять все свободное пространство которая доступна
.reviews__content {
  flex: 1;
  margin-left: rem(20px);
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__title {
  font-size: rem(30px);
  font-weight: 700;
  color: #000;
  margin-bottom: rem(12px);
}

.reviews__text {
  margin-bottom: rem(26px);
  padding: 0 rem(122px) 0 0;
  @include tablets {
    padding: 0;
    text-align: center;
  }
}

.reviews__author {
  font-size: rem(18px);
  color: #000;
  font-weight: 700;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}