.social {
  display: flex;
  width: 125px;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social__link {
  display: block;
  width: 21px;
  height: 20px;
}

@each $social in (vk, fb, inst, tw){
  .social__#{$social} {
    background: url('../img/#{$social}.png') center center no-repeat;
  }
}